@import "tailwindcss";

.footer-text {
  text-align: center;
  color: var(--subTitle) !important;
}

.dark-mode {
  color: var(--textColorDark) !important;
}

.footer-div {
  margin-top: 2rem;
  padding-bottom: 1rem;
}
