@import "tailwindcss";

.card-title {
  color: var(--titleColor);
  font-size: 1.375rem;
  line-height: 24px;
  font-weight: 700;
  margin: 15px 0 0 0;
}
.card-subtitle {
  color: var(--cardSubtitle);
  font-size: 1.063rem;
  line-height: 1.5rem;
}
.project-items-div {
  margin-top: 2rem;
  text-align: left;
}
.project-card {
  background-color: var(--lightBackground2);
  box-shadow: var(--lightBoxShadowDark) 0px 10px 30px -15px;
  padding: 1.5rem;
  border-radius: 10px;
  border: 1px solid var(--lightBorder1);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  flex: 0 0 auto;
  width: 500px;
}
.project-detail-div {
  text-align: center;
}
.project-card:hover {
  box-shadow: var(--lightBoxShadowDark) 0px 20px 30px -10px;
}
.dark-mode.project-card:hover {
  box-shadow: var(--projectCertificateCardHoverDark) 0px 20px 30px -10px;
}
.project-cards-div {
  width: 100%;
}

.project-card-footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}
.project-card-footer span.project-tag {
  background: var(--buttonColor);
  color: var(--lightBackground3);
  vertical-align: middle;
  align-items: center;
  border-radius: 4px;
  display: inline-flex;
  font-size: 0.75rem;
  height: 2em;
  justify-content: center;
  white-space: nowrap;
  line-height: 1.5;
  margin: 0 0.5rem 0.5rem 0;
  padding: 0 0.75em;
  cursor: pointer;
  transition: 0.2s ease-in;
}
span.project-tag:hover {
  background: var(--buttonHover);
}